{% extends 'base.html.twig' %}

{% block title %} - {{ page_title }}{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col">
        
            {% include 'menu/account_menu.html.twig' %}

            <h2>{{ page_title }}</h2>

            {% if app.user %}
                {{ form_start(form) }}
                {{ form_widget(form) }}
                {{ form_end(form) }}
                {# {{ form(form, { 'attr': {'novalidate': 'novalidate'} }) }} #}
            {% endif %}

        </div>
    </div>
</div>
{% endblock %}
