{% extends 'base.html.twig' %}

{% block title %} - {{ page_title }}{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col">
            <h2>{{ page_title }}</h2>

            {% if app.user %}
                
                {{ form_start(form) }}
                {{ form_widget(form) }}
                {{ form_end(form) }}
                {# {{ form(form, { 'attr': {'novalidate': 'novalidate'} }) }} #}

                <div class="mb-3">
                    <a href="{{ path('account_profile_index') }}" class="btn btn-primary" role="button">Annuler</a>
                </div>
                
            {% endif %}

        </div>
    </div>
</div>
{% endblock %}
