{% extends 'base.html.twig' %}

{% block title %}{{ page_title }}{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col">

            <h1>{{ page_title }}</h1>

            {% if app.user %}
                <div class="mb-3">
                    You are logged in as {{ app.user.username }}
                </div>
                    </br>
                    </br>
                    {% for sport in sports %}
                        <a>{{ sport.name }}</a>
                        </br>
                        <a href="sports/{{ sport.id }}">{{ sport.id }}</a>
                        </br>
                    {% endfor %}
                    </br>
                    </br>
                <div class="mb-3">
                    <a href="{{ path('userlogout') }}">Se déconnecter</a>
                </div>

            {% endif %}

        </div>
    </div>
</div>
{% endblock %}
