{% extends 'base.html.twig' %}

{% block title %}Paris{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col">
            <h1>
                {{ competition.name }}
                {% if run is defined %}
                    {{ ' - ' ~ run.name }}
                {% endif %}
            </h1>

            <div>
                <p>Infos</p>
            </div>
            <div>
                {{ form_start(form) }}
                {{ form_widget(form) }}
                {{ form_end(form) }}
            </div>
    
        </div>
    </div>
</div>
{% endblock %}
