{% extends 'base.html.twig' %}

{% block title %} - {{ page_title }}{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col">

            {% include 'menu/account_menu.html.twig' %}

            <h2>{{ page_title }}</h2>

            {% if app.user %}
                
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Facture N°</th>
                            <th scope="col">Type d'opération</th>
                            <th scope="col">Date d'émission</th>
                            <th scope="col">Montant</th>
                            <th scope="col">Désignation</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for billing in wallet_history %}
                        <tr>
                            <th scope="row">{{ billing.invoiceNumber }}</th>
                            <td>{{ billing.operationType }}</td>
                            <td>{{ billing.issueDate | format_datetime(locale='fr') }}</td>
                            <td>{{ billing.amount | format_currency(currency_code, locale='fr') }}</td>
                            <td>{{ billing.designation }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

            {% endif %}

        </div>
    </div>
</div>
{% endblock %}
