{% extends 'base.html.twig' %}

{% block title %}{{ page_title }}{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col">
        
            {% include 'menu/account_menu.html.twig' %}

            <h2>{{ page_title }}</h2>

            {% if app.user %}
                <p>Fonds disponible à la date du {{ wallet_datas.date | format_datetime(locale='fr') }}</p>
                <p>Votre porte monnaie est crédité de {{ wallet_datas.amount | format_currency(wallet_datas.currency, locale='fr') }}.</p>
                <div class="d-grid gap-2 d-md-flex">
                    <a href="{{ path('account_wallet_add') }}" class="btn btn-primary" role="button">Ajouter des fonds au porte monnaie</a>
                    <a href="{{ path('account_wallet_retire') }}" class="btn btn-primary" role="button">Retirer des fonds au porte monnaie</a>
                    <a href="{{ path('account_wallet_history') }}" class="btn btn-primary" role="button">Historiques des transactions du porte monnaie</a>
                </div>
            {% endif %}
            
        </div>
    </div>
</div>
{% endblock %}
