{% extends 'base.html.twig' %}

{% block title %}{{page_title}}{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col">

            <h1>{{ page_title }}</h1>

            {% if app.user %}
                <div class="mb-3">
                    You are logged in as {{ app.user.username }}
                </div>
            <div>
                <br>
                <a>Liste des catégories</a>
                <br>

                {%  for category in cats %}
                <a>{{ category.name }}</a>
                <br>
                {% endfor %}
                </div>
            <br>
            <br>
            <div class="mb-3">
                <a href="{{ path('userlogout') }}">Se déconnecter</a>
            </div>
            <div class="mb-3">
                <a href="{{ path('userloggedin') }}">Retour</a>
            </div>
            {%  endif %}
            
        </div>
    </div>
</div>
{% endblock %}
